pids
logs
node_modules
npm-debug.log
coverage/
build/
run
.DS_Store
.nyc_output
.umi
.umi-production
speed-measure.json
unprocessed-code.txt
unprocessed-code.ts.txt
yarn.lock
.node
.ignore
dist
unuseful-locale-key.txt
docs.zip
config/config.local.ts