.classpath
.project
.settings
target
*/target/*
target/*
*.class
*.iml
.idea
.vscode
*.DS_Store
*.pyc
*.log
*.tar.gz
*.rpm
.swp
.conf/

.pydevproject

# swagger generated
**/generated/swagger/src/*
**/generated/data/meta/*
**/generated/data/sample/*
**/generated

**/.factorypath

tmp/
logs/
target/

# emacs backup files
*~

# maven versions plugin
pom.xml.versionsBackup
mvn_build.sh
test_run.sh

###obstat make
.configured
Makefile.in
Makefile.d
Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
.libs
*.bak
*.o
*.a
*.la
*.lo
.deps*
*.orig
*.swn
tags
TAGS
ltmain.sh
missing
.dep_create
test-driver

# frontend
/frontend/pids
/frontend/logs
/frontend/node_modules
/frontend/npm-debug.log
/frontend/coverage/
/frontend/build/
/frontend/run
/frontend/.basement
/frontend/src/.umi
/frontend/src/.umi-production
/frontend/speed-measure.json
/frontend/dist
/frontend/unuseful-locale-key.txt
/frontend/docs.zip
/frontend/config.local.ts

server/src/main/resources/static

rpmbuild
